.list {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    justify-content: space-around;
    height:max-content;
}

.listElement {
    box-sizing: border-box;
    margin-bottom: 20px;
}